@media (max-width: 425px) {
    .center {
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
    }

    .header{
        height: 735px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding-top: 238px;

        &__text-big {
            font-size: 32px;
            text-align: center;
        }

        &__text {
            font-size: 14px;
            text-align: center;
            line-height: 22px; /* 157.143% */
        }
    
    }
   
    br {
        display: none;
    } 

    .game__box {
        justify-content: center;
    }

    .game__img{
        width: 100%;
    }

    .seasons{
        padding-top: 178px;
        row-gap: 64px;
        justify-content: center;

        &__box{
            align-items: center;
        }

        &__header{
            font-size: 32px;
            text-align: center;
        }

        &__text{
            font-size: 14px;
            line-height: 22px; /* 157.143% */
            width: 343px;
            text-align: center;
        }

        &__img{
            width: 344px;
           }
    }

}

@media (min-width: 375px) and (max-width: 425px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }


}