* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body,
button,
span {
    font-family: Montserrat;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 1024px;
    background-image: url(img/Rectangle\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;
    padding-top: 217px;

    &__text-big {
        color: #FFF;
        font-size: 64px;
        font-weight: 700;
    }


    &__text {
        color: #FFF;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        /* 177.778% */
    }

    &__text-span {
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
    }

    &__button {
        width: 234.063px;
        height: 48.603px;
        border-radius: 30px;
        background: #9C0332;
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        box-sizing: border-box;
        border: none;
        cursor: pointer;

        &:hover {
            border-radius: 30px;
            background: #EB443F;
        }
    }
}


/* Середина */


.game {
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url(img/Rectangle\ 5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__box {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    &__img {
        width: 378px;
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        padding-left: 32px;
        padding-bottom: 32px;
        border-radius: 16px;
    }

    &__img-1 {
        background-image: url(img/game1.jpg);

        &:hover {
            border: 3px solid #44D2FF;
        }

    }

    &__img-2 {
        background-image: url(img/game2.jpg);

        &:hover {
            border: 3px solid #44D2FF;
        }
    }

    &__img-3 {
        background-image: url(img/game3.jpg);

        &:hover {
            border: 3px solid #44D2FF;
        }
    }

    &__span {
        color: #FFF;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        /* 133.333% */
    }
}

.seasons {
    padding-top: 282px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    &__box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 32px;
    }

    &__header {
        color: #FFF;
        font-size: 48px;
        font-weight: 700;
    }

    &__text {
        width: 584px;
        color: #FFF;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        /* 177.778% */
    }

    &__button {
        width: 234.063px;
        height: 48.603px;
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        border-radius: 30px;
        background: #9C0332;
        border: none;
        cursor: pointer;

        &:hover {
            border-radius: 30px;
            background: #EB443F;
        }

    }


}

@import "mobile";